body {
    background-color: black;
}

.navigate,.main-title, .recipe-list, .links, h3{
    font-family: "Press Start 2P", "Oswald", sans-serif;
    color:white;
}

.links {
    font-size: 10px;
}

.content {
    color:chartreuse;
    font-size:20px;
    font-family: "Ubuntu","Oswald", sans-serif;
}
